asgiref==3.11.1
autobahn==26.6.2
channels==4.3.2
daphne==4.1.2
django==5.0.14
django-axes==8.3.1
django-cors-headers==4.9.0
django-filter==25.1
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
dj-database-url==2.3.0
drf-spectacular==0.30.0
whitenoise==6.9.0
psycopg==3.3.4
psycopg-binary==3.3.4
sqlparse==0.5.5
twisted==26.4.0
